In [1]:
import pymysql

In [7]:
# Create Table in Database
conn = pymysql.Connect('localhost', 'root', '', 'bpit')
sql = """
CREATE TABLE users(id INT PRIMARY KEY AUTO_INCREMENT, 
name VARCHAR(50) NOT NULL, city VARCHAR(30) NOT NULL)
"""
cur = conn.cursor()
cur.execute(sql)
conn.close()

In [12]:
# Insert Data in Table
conn = pymysql.Connect('localhost', 'root', '', 'bpit')
sql1 = """
INSERT INTO users(id, name, city) VALUES (NULL, 'Mohit Gandhi', 'Patial');
"""
sql2 = """
INSERT INTO users(id, name, city) VALUES (NULL, 'Pooja Mehta', 'Jaipur');
"""
cur = conn.cursor()
cur.execute(sql1)
cur.execute(sql2)
conn.commit()
conn.close()

In [21]:
# Reading Data - Read Whole Table
conn = pymysql.Connect('localhost', 'root', '', 'bpit')
cur = conn.cursor()
# SQL Query
sql = 'SELECT * FROM users;'
cur.execute(sql)

rows = cur.fetchall()
#print("Name\t\tCity")
for row in rows:
    #print(row[1], "\t", row[2])
    print(row)
conn.close()

(100, 'Ajay Mathur', 'New Delhi')
(101, 'Kishan Das', 'New Delhi')
(103, 'Mohan Das', 'Jaipur')
(104, 'Karam Chand', 'New Delhi')
(105, 'Mohit Gandhi', 'Patial')
(106, 'Pooja Mehta', 'Jaipur')

In [24]:
# Reading Data - Read One Column
conn = pymysql.Connect('localhost', 'root', '', 'bpit')
cur = conn.cursor()
# SQL Query
sql = 'SELECT * FROM users;'
cur.execute(sql)

row = cur.fetchone()
print(row)
conn.close()

(100, 'Ajay Mathur', 'New Delhi')

In [25]:
# Reading Data - Read One Column
conn = pymysql.Connect('localhost', 'root', '', 'bpit')
cur = conn.cursor()
# SQL Query
sql = 'SELECT * FROM users;'
cur.execute(sql)

rows = cur.fetchmany(4)
print(rows)

conn.close()

((100, 'Ajay Mathur', 'New Delhi'), (101, 'Kishan Das', 'New Delhi'), (103, 'Mohan Das', 'Jaipur'), (104, 'Karam Chand', 'New Delhi'))