In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('olympics.csv', skiprows=4)

In [6]:
df.head(10)

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver
5,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,1200m freestyle,M,Bronze
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
7,Athens,1896,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,M,Silver
8,Athens,1896,Aquatics,Swimming,"CHOROPHAS, Efstathios",GRE,Men,400m freestyle,M,Bronze
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
type(df.City)

pandas.core.series.Series

In [11]:
df.City.head(10)

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
5    Athens
6    Athens
7    Athens
8    Athens
9    Athens
Name: City, dtype: object

In [13]:
df['City'].head()

0    Athens
1    Athens
2    Athens
3    Athens
4    Athens
Name: City, dtype: object

In [14]:
df.columns

Index(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC', 'Gender',
       'Event', 'Event_gender', 'Medal'],
      dtype='object')

In [17]:
df1 = df[['City', 'Edition', 'Sport']].head()

In [18]:
type(df1)

pandas.core.frame.DataFrame

In [19]:
df1

     City  Edition     Sport
0  Athens     1896  Aquatics
1  Athens     1896  Aquatics
2  Athens     1896  Aquatics
3  Athens     1896  Aquatics
4  Athens     1896  Aquatics

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29216 entries, 0 to 29215
Data columns (total 10 columns):
City            29216 non-null object
Edition         29216 non-null int64
Sport           29216 non-null object
Discipline      29216 non-null object
Athlete         29216 non-null object
NOC             29216 non-null object
Gender          29216 non-null object
Event           29216 non-null object
Event_gender    29216 non-null object
Medal           29216 non-null object
dtypes: int64(1), object(9)
memory usage: 2.2+ MB

In [21]:
df.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
1,Athens,1896,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100m freestyle,M,Silver
2,Athens,1896,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100m freestyle for sailors,M,Bronze
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
4,Athens,1896,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100m freestyle for sailors,M,Silver

In [22]:
df.Medal.value_counts()

Gold      9850
Bronze    9689
Silver    9677
Name: Medal, dtype: int64

In [23]:
df.Edition.value_counts()

2008    2042
2000    2015
2004    1998
1996    1859
1992    1705
1988    1546
1984    1459
1980    1387
1976    1305
1920    1298
1972    1185
1968    1031
1964    1010
1952     889
1912     885
1956     885
1924     884
1960     882
1936     875
1948     814
1908     804
1928     710
1932     615
1900     512
1904     470
1896     151
Name: Edition, dtype: int64

In [24]:
df.Gender.value_counts()

Men      21721
Women     7495
Name: Gender, dtype: int64

In [26]:
df.Event_gender.value_counts(ascending=True)

X     1871
W     7278
M    20067
Name: Event_gender, dtype: int64

In [28]:
df.Edition.sort_values(ascending=False)

29215    2008
27858    2008
27845    2008
27846    2008
27847    2008
27848    2008
27849    2008
27850    2008
27851    2008
27852    2008
27853    2008
27854    2008
27855    2008
27856    2008
27857    2008
27859    2008
27843    2008
27860    2008
27861    2008
27862    2008
27863    2008
27864    2008
27865    2008
27866    2008
27867    2008
27868    2008
27869    2008
27870    2008
27871    2008
27872    2008
         ...
87       1896
86       1896
85       1896
84       1896
83       1896
82       1896
81       1896
80       1896
79       1896
78       1896
93       1896
95       1896
112      1896
96       1896
111      1896
110      1896
109      1896
108      1896
107      1896
106      1896
105      1896
104      1896
103      1896
102      1896
101      1896
100      1896
99       1896
98       1896
97       1896
0        1896
Name: Edition, Length: 29216, dtype: int64

In [29]:
df.columns

Index(['City', 'Edition', 'Sport', 'Discipline', 'Athlete', 'NOC', 'Gender',
       'Event', 'Event_gender', 'Medal'],
      dtype='object')

In [32]:
df2 = df.copy()

In [33]:
df3 = df2.sort_values(by=['Sport', 'Discipline'])

In [34]:
df2.head()

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
663,St Louis,1904,Aquatics,Diving,"BRAUNSCHWEIGER, Alfred",GER,Men,10m platform,M,Bronze
664,St Louis,1904,Aquatics,Diving,"KEHOE, Frank",USA,Men,10m platform,M,Bronze
665,St Louis,1904,Aquatics,Diving,"SHELDON, George",USA,Men,10m platform,M,Gold
666,St Louis,1904,Aquatics,Diving,"HOFFMANN, Georg",GER,Men,10m platform,M,Silver
667,St Louis,1904,Aquatics,Diving,"GOODWIN, Leo Budd",USA,Men,plunge for distance,M,Bronze

# Boolean Indexing

In [39]:
df[df.Medal == 'Gold']

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
13,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,M,Gold
15,Athens,1896,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,M,Gold
18,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,M,Gold
21,Athens,1896,Athletics,Athletics,"BURKE, Thomas",USA,Men,400m,M,Gold
24,Athens,1896,Athletics,Athletics,"FLACK, Edwin",AUS,Men,800m,M,Gold
27,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,discus throw,M,Gold
29,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,high jump,M,Gold
33,Athens,1896,Athletics,Athletics,"CLARK, Ellery",USA,Men,long jump,M,Gold
36,Athens,1896,Athletics,Athletics,"LOUIS, Spyridon",GRE,Men,marathon,M,Gold
40,Athens,1896,Athletics,Athletics,"HOYT, William Welles",USA,Men,pole vault,M,Gold
43,Athens,1896,Athletics,Athletics,"GARRETT, Robert",USA,Men,shot put,M,Gold
46,Athens,1896,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,M,Gold
49,Athens,1896,Cycling,Cycling Road,"KONSTANTINIDIS, Aristidis",GRE,Men,individual road race,M,Gold
51,Athens,1896,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,M,Gold
54,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,M,Gold
56,Athens,1896,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,12-hour race,M,Gold
59,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,1km time trial,M,Gold
62,Athens,1896,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,Sprint indivual,M,Gold
65,Athens,1896,Fencing,Fencing,"GRAVELOTTE, Eugène-Henri",FRA,Men,foil individual,M,Gold
67,Athens,1896,Fencing,Fencing,"PYRGOS, Leonidas",GRE,Men,"foil, masters",M,Gold
70,Athens,1896,Fencing,Fencing,"GEORGIADIS, Ioannis",GRE,Men,sabre individual,M,Gold
72,Athens,1896,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,horizontal bar,M,Gold
74,Athens,1896,Gymnastics,Artistic G.,"FLATOW, Alfred",GER,Men,parallel bars,M,Gold
76,Athens,1896,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,pommel horse,M,Gold
79,Athens,1896,Gymnastics,Artistic G.,"MITROPOULOS, Ioannis",GRE,Men,rings,M,Gold
82,Athens,1896,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,M,Gold
...,...,...,...,...,...,...,...,...,...,...
29110,Beijing,2008,Weightlifting,Weightlifting,"ARAMNAU, Andrei",BLR,Men,105kg,M,Gold
29113,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Xiexia",CHN,Women,48kg,W,Gold
29116,Beijing,2008,Weightlifting,Weightlifting,"JAROENRATTANATARAKOON, Prapawadee",THA,Women,53kg,W,Gold
29119,Beijing,2008,Weightlifting,Weightlifting,"CHEN, Yanqing",CHN,Women,58kg,W,Gold
29122,Beijing,2008,Weightlifting,Weightlifting,"ZHANG, Xiangxiang",CHN,Men,62kg,M,Gold
29125,Beijing,2008,Weightlifting,Weightlifting,"PAK, Hyon Suk",PRK,Women,63kg,W,Gold
29128,Beijing,2008,Weightlifting,Weightlifting,"LIAO, Hui",CHN,Men,69kg,M,Gold
29131,Beijing,2008,Weightlifting,Weightlifting,"LIU, Chunhong",CHN,Women,69kg,W,Gold
29134,Beijing,2008,Weightlifting,Weightlifting,"CAO, Lei",CHN,Women,75kg,W,Gold
29137,Beijing,2008,Weightlifting,Weightlifting,"SA, Jaehyouk",KOR,Men,77kg,M,Gold
29140,Beijing,2008,Weightlifting,Weightlifting,"LU, Yong",CHN,Men,85kg,M,Gold
29143,Beijing,2008,Weightlifting,Weightlifting,"ILIN, Ilya",KAZ,Men,94kg,M,Gold
29147,Beijing,2008,Wrestling,Wrestling Free.,"HUYNH, Carol",CAN,Women,- 48kg,W,Gold
29151,Beijing,2008,Wrestling,Wrestling Free.,"CEJUDO, Henry",USA,Men,- 55kg,M,Gold
29155,Beijing,2008,Wrestling,Wrestling Free.,"YOSHIDA, Saori",JPN,Women,48 - 55kg,W,Gold
29159,Beijing,2008,Wrestling,Wrestling Free.,"BATIROV, Mavlet",RUS,Men,55 - 60kg,M,Gold
29163,Beijing,2008,Wrestling,Wrestling Free.,"ICHO, Kaori",JPN,Women,55 - 63kg,W,Gold
29167,Beijing,2008,Wrestling,Wrestling Free.,"SAHIN, Ramazan",TUR,Men,60 - 66kg,M,Gold
29171,Beijing,2008,Wrestling,Wrestling Free.,"WANG, Jiao",CHN,Women,63 - 72kg,W,Gold
29175,Beijing,2008,Wrestling,Wrestling Free.,"SAYTIEV, Buvaysa",RUS,Men,66 - 74kg,M,Gold
29179,Beijing,2008,Wrestling,Wrestling Free.,"MINDORASHVILI, Revazi",GEO,Men,74 - 84kg,M,Gold
29183,Beijing,2008,Wrestling,Wrestling Free.,"MURADOV, Shirvani",RUS,Men,84 - 96kg,M,Gold
29187,Beijing,2008,Wrestling,Wrestling Free.,"TAYMAZOV, Artur",UZB,Men,96 - 120kg,M,Gold
29191,Beijing,2008,Wrestling,Wrestling Gre-R,"MANKIEV, Nazyr",RUS,Men,- 55kg,M,Gold
29195,Beijing,2008,Wrestling,Wrestling Gre-R,"ALBIEV, Islam-Beka",RUS,Men,55 - 60kg,M,Gold
29199,Beijing,2008,Wrestling,Wrestling Gre-R,"GUENOT, Steeve",FRA,Men,60 - 66kg,M,Gold
29203,Beijing,2008,Wrestling,Wrestling Gre-R,"KVIRKELIA, Manuchar",GEO,Men,66 - 74kg,M,Gold
29206,Beijing,2008,Wrestling,Wrestling Gre-R,"MINGUZZI, Andrea",ITA,Men,74 - 84kg,M,Gold
29210,Beijing,2008,Wrestling,Wrestling Gre-R,"KHUSHTOV, Aslanbek",RUS,Men,84 - 96kg,M,Gold
29214,Beijing,2008,Wrestling,Wrestling Gre-R,"LOPEZ, Mijain",CUB,Men,96 - 120kg,M,Gold

In [43]:
df[(df.Medal == 'Gold') & (df.Discipline == 'Swimming')]

,City,Edition,Sport,Discipline,Athlete,NOC,Gender,Event,Event_gender,Medal
0,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,M,Gold
3,Athens,1896,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,M,Gold
6,Athens,1896,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,M,Gold
9,Athens,1896,Aquatics,Swimming,"NEUMANN, Paul",AUT,Men,400m freestyle,M,Gold
152,Paris,1900,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,1500m freestyle,M,Gold
155,Paris,1900,Aquatics,Swimming,"HOPPENBERG, Ernst",GER,Men,200m backstroke,M,Gold
158,Paris,1900,Aquatics,Swimming,"LANE, Frederick C.V.",AUS,Men,200m freestyle,M,Gold
161,Paris,1900,Aquatics,Swimming,"LANE, Frederick C.V.",AUS,Men,200m obstacle event,M,Gold
168,Paris,1900,Aquatics,Swimming,"FREY, Julius",GER,Men,200m team swimming,M,Gold
169,Paris,1900,Aquatics,Swimming,"HAINLE, Max",GER,Men,200m team swimming,M,Gold
170,Paris,1900,Aquatics,Swimming,"HOPPENBERG, Ernst",GER,Men,200m team swimming,M,Gold
171,Paris,1900,Aquatics,Swimming,"SCHÖNE, Max",GER,Men,200m team swimming,M,Gold
172,Paris,1900,Aquatics,Swimming,"VON PETERSDORFF, Herbert",GER,Men,200m team swimming,M,Gold
179,Paris,1900,Aquatics,Swimming,"JARVIS, John Arthur",GBR,Men,4000m freestyle,M,Gold
182,Paris,1900,Aquatics,Swimming,"DE VENDEVILLE, Charles",FRA,Men,underwater swimming,M,Gold
671,St Louis,1904,Aquatics,Swimming,"BRACK, Walter",GER,Men,100m backstroke,M,Gold
674,St Louis,1904,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,100m freestyle,M,Gold
677,St Louis,1904,Aquatics,Swimming,"RAUSCH, Emil",GER,Men,1500m freestyle,M,Gold
680,St Louis,1904,Aquatics,Swimming,"DANIELS, Charles",USA,Men,200m freestyle,M,Gold
683,St Louis,1904,Aquatics,Swimming,"ZACHARIAS, Georg",GER,Men,400m breaststroke,M,Gold
686,St Louis,1904,Aquatics,Swimming,"DANIELS, Charles",USA,Men,400m freestyle,M,Gold
692,St Louis,1904,Aquatics,Swimming,"DANIELS, Charles",USA,Men,4x50y freestyle relay,M,Gold
693,St Louis,1904,Aquatics,Swimming,"GOODWIN, Leo Budd",USA,Men,4x50y freestyle relay,M,Gold
694,St Louis,1904,Aquatics,Swimming,"HANDLEY, Louis De Breda",USA,Men,4x50y freestyle relay,M,Gold
695,St Louis,1904,Aquatics,Swimming,"RUDDY, Joseph A.",USA,Men,4x50y freestyle relay,M,Gold
701,St Louis,1904,Aquatics,Swimming,"HALMAY, Zoltan",HUN,Men,50y freestyle (45.72m),M,Gold
704,St Louis,1904,Aquatics,Swimming,"RAUSCH, Emil",GER,Men,880y freestyle (804.66m),M,Gold
1141,London,1908,Aquatics,Swimming,"BIEBERSTEIN, Arno",GER,Men,100m backstroke,M,Gold
1144,London,1908,Aquatics,Swimming,"DANIELS, Charles",USA,Men,100m freestyle,M,Gold
1147,London,1908,Aquatics,Swimming,"TAYLOR, Henry",GBR,Men,1500m freestyle,M,Gold
...,...,...,...,...,...,...,...,...,...,...
27326,Beijing,2008,Aquatics,Swimming,"PEIRSOL, Aaron",USA,Men,4x100m medley relay,M,Gold
27327,Beijing,2008,Aquatics,Swimming,"PHELPS, Michael",USA,Men,4x100m medley relay,M,Gold
27328,Beijing,2008,Aquatics,Swimming,"WEBER-GALE, Garrett",USA,Men,4x100m medley relay,M,Gold
27342,Beijing,2008,Aquatics,Swimming,"GALVEZ, Felicity",AUS,Women,4x100m medley relay,W,Gold
27343,Beijing,2008,Aquatics,Swimming,"JONES, Leisel",AUS,Women,4x100m medley relay,W,Gold
27344,Beijing,2008,Aquatics,Swimming,"REESE, Shayne",AUS,Women,4x100m medley relay,W,Gold
27345,Beijing,2008,Aquatics,Swimming,"SCHIPPER, Jessicah",AUS,Women,4x100m medley relay,W,Gold
27346,Beijing,2008,Aquatics,Swimming,"SEEBOHM, Emily",AUS,Women,4x100m medley relay,W,Gold
27347,Beijing,2008,Aquatics,Swimming,"TRICKETT, Lisbeth",AUS,Women,4x100m medley relay,W,Gold
27348,Beijing,2008,Aquatics,Swimming,"WHITE, Tarnee",AUS,Women,4x100m medley relay,W,Gold
27363,Beijing,2008,Aquatics,Swimming,"BERENS, Ricky",USA,Men,4x200m freestyle relay,M,Gold
27364,Beijing,2008,Aquatics,Swimming,"KELLER, Klete",USA,Men,4x200m freestyle relay,M,Gold
27365,Beijing,2008,Aquatics,Swimming,"LOCHTE, Ryan",USA,Men,4x200m freestyle relay,M,Gold
27366,Beijing,2008,Aquatics,Swimming,"PHELPS, Michael",USA,Men,4x200m freestyle relay,M,Gold
27367,Beijing,2008,Aquatics,Swimming,"VANDERKAAY, Peter",USA,Men,4x200m freestyle relay,M,Gold
27368,Beijing,2008,Aquatics,Swimming,"VENDT, Erik",USA,Men,4x200m freestyle relay,M,Gold
27369,Beijing,2008,Aquatics,Swimming,"WALTERS, David",USA,Men,4x200m freestyle relay,M,Gold
27382,Beijing,2008,Aquatics,Swimming,"BAINBRIDGE, Angie",AUS,Women,4x200m freestyle relay,W,Gold
27383,Beijing,2008,Aquatics,Swimming,"BARRATT, Bronte",AUS,Women,4x200m freestyle relay,W,Gold
27384,Beijing,2008,Aquatics,Swimming,"DAVENPORT, Lara",AUS,Women,4x200m freestyle relay,W,Gold
27385,Beijing,2008,Aquatics,Swimming,"GALVEZ, Felicity",AUS,Women,4x200m freestyle relay,W,Gold
27386,Beijing,2008,Aquatics,Swimming,"MACKENZIE, Linda",AUS,Women,4x200m freestyle relay,W,Gold
27387,Beijing,2008,Aquatics,Swimming,"PALMER, Kylie",AUS,Women,4x200m freestyle relay,W,Gold
27388,Beijing,2008,Aquatics,Swimming,"RICE, Stephanie",AUS,Women,4x200m freestyle relay,W,Gold
27389,Beijing,2008,Aquatics,Swimming,"SCHLANGER, Melanie",AUS,Women,4x200m freestyle relay,W,Gold
27396,Beijing,2008,Aquatics,Swimming,"CIELO FILHO, Cesar",BRA,Men,50m freestyle,M,Gold
27399,Beijing,2008,Aquatics,Swimming,"STEFFEN, Britta",GER,Women,50m freestyle,W,Gold
27402,Beijing,2008,Aquatics,Swimming,"ADLINGTON, Rebecca",GBR,Women,800m freestyle,W,Gold
27405,Beijing,2008,Aquatics,Swimming,"VAN DER WEIJDEN, Maarten",NED,Men,marathon 10km,M,Gold
27408,Beijing,2008,Aquatics,Swimming,"ILCHENKO, Larisa",RUS,Women,marathon 10km,W,Gold

In [ ]:
df.